html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: rgb(255, 255, 255);
}

.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 75px;
  height: 75px;
  z-index: 2;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  z-index: 1;
}

h1 {
  color: #007bff;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: none;
}

nav ul li {
  font-size: 20px;
  display: inline-block;
  margin-right: 3px;
}

nav ul li a {
  display: block;
  padding: 5px;
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: none;
  color: whitesmoke;
}


h2.main-header {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: -700px;
  z-index: 1;
}

.header-container {
  display: flex;
  justify-content: center;
}

.sub-header {
  flex-basis: 33.33%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin: 20px 50px;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.9;
  transition: opacity 0.5s ease;
}